/* Setup */
  body, html, #nocharts{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: slategray;
  }

  a {
    color: inherit;
  }


  #open-modal, #top-nav {
    background-color: #262833;
  }

/* TopNav */
  .topnav {
    padding: 5px;
  }

  .topnav a {
    font-size: 16px;
  }

  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .label {
    display: inline;
    margin-right: 4px;
  }

  .box {
    box-sizing: border-box;
    height: calc(100% - 36px);
  }

  .fullscreen {
    position: absolute;
    height: calc(100% - 28px) !important;
    width: 100% !important;
    z-index: 10;
  }

  .box-button-container {
    position: absolute;
    top: 6px;
    right: 44px;
    z-index: 5;
  }

  .button-fullscreen {
    display: block;
    cursor: default;
    padding: 7px 12px;
    border: 1px solid #dadde0;
    background: #fff;
    height: 14px;
    color: #555;
    font-size: 11px;
    font-weight: 600;
  }

  .button.toggled {
    border: 3px solid #3bb3e4;
  }

  .super-small-icon {
    font-size: 12px;
  }

  .box-height-half {
    height: calc(50% - 16px);
  }
  .box-height-third {
    height: calc(100% / 3 - 11px);
  }

  .box-width-half {
    float: left;
    width: 50%;
  }

  .box-width-third {
    float: left;
    width: calc(100% / 3);
  }

  .number-label {
    margin-right: 4px;
  }

  .box-size {
    width: 2em;
  }

  .right {
    float: right;
  }

  #open-modal.dark, body.dark {
    background-color: #333;
  }

  .tv-btn {
    margin-left: 8px;
    padding: 0.5em 2em;
    vertical-align: middle;
  }

  .tv-btn:hover {
    background-color: #eee;
    color: black;
  }

  .tv-btn .dark {
    background-color: #eee;
    color: #333;
  }

  .tv-btn .dark:hover {
    background-color: #ddd;
    color: black;
  }

  .group.space-single.header-group-indicators {
    display: none;
  }

/* Modals */
  .modal-window {
    position: fixed;
    background-color: #333;/*rgba(255, 255, 255, 0.15);*/
    /* min-height: 40vh; */
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-x: scroll;
    /* max-width: 100vw !important; */
    z-index: 999999;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window>div {
    max-width: 80vw;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    /* background: #fff; */
    color: #777;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 26px;
    margin: 0;
  }
  .modal-window h6 {
    font-size: 14px;
    word-break: break-all;
    margin: 0 0 4px 0;
  }

  .modal-close {
    color:white !important;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: #aaa;
  }
  



/* NoCharts Mode */
  #nocharts h1 {
    font-size: 48px;
	color: rgba(0, 0, 0, 0.48);
  }
  #nocharts h2 {
    color: #bbb;
    font-weight: 500;
    font-size: 36px;
  }
  #nocharts p {
    font-size: 20px;
	rgb(56, 175, 255)
  }
  #nocharts a {
    font-size: 28px;
    padding: 12px 14px;
    color: #595959;
    background: #09f;
    border: 1px solid #09f;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color .3s;
  }
#nocharts a:hover, #nocharts a:focus {
  background-color: #06c;
}  
#inner1 {
  height: 100%;
}

#inner2 {
  height: 100%;
}

#inner3 {
  height: 100%;
}

#inner4 {
  height: 100%;
}