/* Setup & Rules #region */
body, html, #nocharts {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 100%;
	font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 14px;
	color: slategray;
}

.fullscreen {
	position: absolute !important;
	left: 0;
	height: calc(100% - 28px) !important;
	width: 100% !important;
	z-index: 10;
  }
a { color: inherit; }
button, .button { cursor: pointer }
.close-button {
	cursor: pointer;
    right: 17px;
    top: 17px;
	outline: none;
    overflow: visible;
    position: absolute;
	background: #0000;
    border: none;
    border-radius: 4px;
    box-sizing: initial;
    color: #b2b5be;
    margin: 0;
    padding: 8px;
}
.right { float: right; }
.left { float: left; }
.t-center { text-align: center; }
.d-none { display: none; }
.none { display: none; }
.hide {
	/* opacity: 0; */
	transform: translateY(100vh);
	/* visibility: hidden; */
}
.border-none {
	border: none !important;
	padding: 0 !important;
}
a.ok {
	background: #6c6;
	color: white;
	padding: 0.4em .8em;
	border-radius: .2em;
	font-size: 1.25em;
}
/* #endregion */
/* Themed #region */
body { background: #595959; }
body.dark { background-color: #333; }
.cWhite { color: #fff; }
.cSuperLight { color:rgb(253, 246, 246); }
.cL { color: #eee; }
.cLBlue { color: #09f; }
.tvRed { color: rgb(255,68,166); }
.tvGreen { color: rgb(15,116,255); }
.fwBold { font-weight: bold; }
#open-modal, #topnav {
	background-color: #262833;
}
/* .dark .box-button-container a {
	background: none;
} */
/* #endregion */
/* TopNav #region */

#link_set {
	/* font-size: 13px;  */
	color: #eee; 
	border-bottom-color: #ddd !important;
	text-decoration: none; 
	padding: 3px 6px;
	/* border-bottom: 1px solid; */
}
/* #endreion */
/* Buttons #region */
.button-fullscreen {
    display: block;
    cursor: pointer;
    padding: 4px 8px 6px 8px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    opacity: .4;
    font-weight: 600;
    border-radius: 4px;
    line-height: 18px;
    background: rgba(0,106,206,.2);
    margin: 0 2px 4px 2px;
}
.small .button-fullscreen {
	padding: 2px 4px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 14px;
	width: 12px;
	margin-left: 12px;
	opacity: .5;
}
.button-coinigy {
	width:34px;
	opacity: .75;
	height:34px;
	cursor:pointer;
	opacity: .5;
}
.small .button-coinigy {
	width: 20px;
	height: 20px;
	margin-left: 6px;
	margin-bottom: -2px;
}
.button {
	display: block;
	cursor: default;
	padding: 7px 12px;
	border: .1px solid #dadde0;
	background: #fff;
	height: 14px;
	color: #555;
	font-size: 11px;
	font-weight: 600;
}
.button.toggled {
	border: 3px solid #3bb3e4;
}
/* #endregion */
/* TV Buttons #region */
.tv-btn {
	margin-left: 8px;
	padding: 0.5em 2em;
	vertical-align: middle;
}
.tv-btn:hover {
	background-color: #eee;
	color: black;
}
.tv-btn .dark {
	background-color: #eee;
	color: #333;
}
.tv-btn .dark:hover {
	background-color: #ddd;
	color: black;
}
/* #endregion */
/* Subject To Change #region */
.super-small-icon {
	font-size: 12px;
}
.group.space-single.header-group-indicators {
	display: none;
}
.theme {
	margin: auto;
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
	border: 1px solid #696b76;
	border-bottom-color: #696b76 !important;
	font-size: 12px;
	box-shadow: 0 0 10px #000;
	background: #363843;
	color: #fff;
}
button.theme {
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	-webkit-appearance: none;
}
button.theme:hover {
	background: #fff !important;
	color: #da513d !important;
}
.divLetsGo {
	height: 0;
	position: relative;
	padding-top: 40px;
	margin: auto;
	width: 260px;
	display: flex;
}
.divLetsGo a, .closeBtn {
	font-size: 25px;
	padding: 5px;
	margin: auto;
	margin-top: 32px;
	background: rgba(32, 48, 80, .7);
	border: 1px solid #09f;
	border-radius: 5px;
	color: #ecf0f1;
	text-decoration: none;
	transition: background-color .3s;
	width: 69px;
}
#divLetsGo a:hover, #divLetsGo a:focus {
	background-color: #06c;
}
/* #endregion */
/* Modals #region */
.btn {
	background: #09f;
	color: #fff;
	outline: 0;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	-webkit-appearance: none;
}
.btn:hover {
	background: #fff;
	color: #da513d;
}
#loading, #chart_add_select {
	transition: transform .5s;
}
.modalInfo, .modalConfig, .modalAd {
	/* opacity: 0;
	visibility: hidden; */
	transition: transform 1s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 8, 0.84);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
	z-index: 999999;
	backdrop-filter: blur(6px); 
	-webkit-backdrop-filter: blur(6px);
}
.mAd {
	border-radius: 5px; 
	border: 2px solid black;
	background: radial-gradient(circle, rgba(20, 60, 120, .4), rgba(4, 6, 24, .4));
}
.mAd #url {
	width: 50vw;
	word-wrap: break-word;
	background: transparent;
	border: none;
	color: white;
	font-size: 16px;
}
div.modalConfig>div.hero {
	overflow-y: auto; 
	max-height: 100vh;
}
.hero hr {
	border: none;
	background: #eee;
	height: 0.35em;
	margin: 0.8em 0 1.2em 0;
	border-radius: 1em;
}
/* #endregion */
/* PairsSetup #region */

.inputLists {
	margin: 0; 
	text-transform: uppercase; 
	width: auto; 
	padding: 12px; 
	line-height: 20px;
}
div.divPairsSetup {
	position: relative;
	max-width: 420px;
	padding-bottom: 20px;
	vertical-align: top;
}
div.divPairsSetup > div {
	display: flex;
	padding: 2px;
	align-items: center;
}
div.divPairsSetup > div > * {
	flex: 18;
}
div.divPairsSetup > div > input {
	flex: 1;
}
div.divPairsSetup input[type="text"],
div.divPairsSetup select {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
div.divPairsSetup input[type="text"]:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}
div.divPairsSetup input[type="button"], .inputTypeButton {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 3%;
	box-shadow: 0 0 8px -2px #000;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	width: 85%;
	margin-left: 6px;
	border-radius: 3px;
	background: #343434;
	color: #f3f3f3;
}
div.divPairsSetup input[type="button"]:hover {
	background: #2EBC99;
}
div.divPairsSetup h3 {
	color: #000;
	background: #eee;
	padding: 8px;
	font-weight: 500;
	text-align: center;
	border-bottom: 6px solid #bbb;
	margin: 0 0 18px 0;
}
/* #endregion */
/* Notif #region */
#notif {
	overflow: hidden; 
	position: relative; 
	box-sizing: border-box; 

	/* width: 100% !important;
	height: auto !important;
	max-height: 600px; */


	background: linear-gradient(#125,#123);
	background: rgb(19,23,34);
	color: #fff;
	border-radius: 2px;
	/* padding: 2% 8%; */
	overflow-y: auto;
}
.options {
	/* margin: 12%; */
	background: linear-gradient(#9ac,#09f);
	color: #fff;
	border-radius: 2px;
	padding: 2%;
	overflow-y: auto;
	/* height: 92%; */
}
.options h2 {
	color: rgba(55,255,155,.6);
	font-size: 16px;
}
.options ul {
	padding: 0;
}
.options li, .options input {
	background: rgba(0,0,0,.6);
	background: rgba(85,85,85,.07);
	text-align: center;
	display: block;
	margin: 6px -1px;
	font-weight: 300;
	padding: 6px;
	border-radius: 3px;
	border: 1px rgba(155,155,155,.4) solid;
	color: #ddd;
}
#chart_add {
	border: 1px rgba(255,255,155,.6) solid; 
	font-size: 16px; padding: .6em 0; 
	background: rgba(185,185,85,.125); 
	width: auto;
	margin: auto;
}
#chart_options {
	border-radius: 4px;
	border: 1px #ccc solid;
	margin: 1.5em auto;
}
#chart_options li {
	margin: 2px -1px;
	border-radius: .15em;
	background: rgba(85,85,85,.24);
	padding: 0 .4em;
	font-size: 1.5em;
	display: block;
}
/* #endregion */
/* Unorg #region */
.inputTypeButton {
	display: block;
	cursor: pointer;
	padding: 4px 8px;
	color: #fff;
	height: 36px;
	font-size: 20px;
	font-weight: 600;
	line-height: 18px;
}
.number-label {
	/* margin-left: 4px */
	font-size: 13px;
}
.box-size {
	/* border: 1px solid #696b76; */
	border: none;
	width: 26px;
	/* box-shadow: 0 0 10px #000; */
	/* background: #363843; */
	background: transparent;
	color: #eff;
	/* margin: 0 2px; */
	margin-left: 4px;
	/* padding: 2px 0 2px 4px; */
}
.label {
	display: inline;
	margin-right: 4px;
	padding: 3px 0 3px 6px;
}
.box {
	position: relative;
	box-sizing: border-box;
	height: calc(100% - 40px);
	width: 100%;
	float: left;
	/* transition: linear 2s; */
}
.box.mobil>div {
	width: 60% !important; /* 55% */
	height: 60% !important; /* 55% */
	transform: scale(1.6) translateY(20%); /* 1.8 22% */
}
.box-button-container {
	position: absolute;
	bottom: 5px;
	right: 5px;
	z-index: 5;
}
.newsletter {
	text-align: center;
	background: rgb(19,23,34);
	height: 100%;
	/* border: 4px solid rgb(227,232,247); */
	border: 4px solid rgb(33,37,52);
	overflow-y: auto;
}
.black-serif { font-family: 'Times New Roman', Times, serif; }
.ad{
	margin-left: 25px;
	border: 5px;
	box-shadow: 0 0 10px #000;
	text-align: center;
	border-radius: 3px;
	text-decoration: none;
	padding-left: 9px;
	padding-right: 9px;
	font-family: Lato, sans-serif;
	background: #09fc;
	color: #fff;
}
.ad:hover{
	background: #fff;
	color: #da513d;
}
::-webkit-scrollbar {width: 7px;background: transparent;}
::-webkit-scrollbar-track {border-radius: 25px;}
::-webkit-scrollbar-thumb {background: rgba(0,0,0,.8);border-radius: 25px;}
::-webkit-scrollbar-thumb:hover {background: rgba(0,0,0,.5);}

.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}
.autocomplete-items {
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
	padding: 8px 14px;
	cursor: pointer;
	background-color: #222;
	border-bottom: 1px solid #4d4d4d;
}
.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color: #777;
}
.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}
/* #endregion */


.box-button-container>*:hover {
	opacity: 1;
	background: #222;
	transition: .2s;
}

select:disabled {
	opacity: .4;
}
