/* Setup & Rules  */
	body, html, #nocharts {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		min-height: 100%;
		font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
		font-size: 14px;
		color: slategray;
	}
	a { color: inherit; }
	button, .button { cursor: pointer }
	.right { float: right; }
	.fullscreen {
		position: absolute !important;
		left: 0;
		height: calc(100% - 28px) !important;
		width: 100% !important;
		z-index: 10;
		/* transition: linear .2s; */
	}
/* Themed */
	body { background: #595959; }
	body.dark { background-color: #333; }
	#open-modal, #topnav {
		background-color: #262833;
	}
	.dark .box-button-container a {
		background: none;
	}
/* TopNav */
	.topnav {
		padding: 3px;
	}
	.topnav a {
		font-size: 16px;
	}
	.topnav .icon {
		display: none;
	}
/* Responsives */
	@media screen and (max-width: 600px) {
		.topnav.responsive {
			position: relative;
		}
		.topnav.responsive .icon {
			position: absolute;
			right: 0;
			top: 0;
		}
		.topnav.responsive a {
			float: none;
			display: block;
			text-align: left;
		}
		.box > div:first-child {
			/* transform: translate(-10%, -10%) scale(.80) !important;
			width: 125% !important;
			height: 125% !important; */
			transform: translate(-20%, -20%) scale(.60) !important;
			width: 167% !important;
			height: 167% !important;
		}
		@media screen and (max-width: 528px) {
			.topnav { height: 46px; }
			.btn-nav { margin-top: 4px !important; }
			@media screen and (max-width: 332px) {
				#configChart { margin-top: 4px; }
			}
		}
	}

/* Buttons */
	.button-fullscreen {
		display: block;
		cursor: pointer;
		padding: 4px 8px 6px 8px;
		border: 1px solid #dadde0;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
		font-weight: 600;
		line-height: 18px;
		background: rgba(0,106,0,.5);
	}
	.button-fullscreen-small {
	display: block;
    cursor: pointer;
    padding: 2px 4px;
    border: .1px solid #dadde0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    width: 12px;
    margin-left: 12px;
    opacity: .5;
	background: #006d00;
	}
	.button-coinigy {
		width:34px;
		opacity: .75;
		height:34px;
		cursor:pointer;
		opacity: .5;
	}
	.button-coinigy-small {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .5;
    margin-left: 12px;
    margin-bottom: -2px;

	}
	.button {
		display: block;
		cursor: default;
		padding: 7px 12px;
		border: .1px solid #dadde0;
		background: #fff;
		height: 14px;
		color: #555;
		font-size: 11px;
		font-weight: 600;
	}
	.button.toggled {
		border: 3px solid #3bb3e4;
	}
	.super-small-icon {
		font-size: 12px;
	}

/* TV Buttons */
	.tv-btn {
		margin-left: 8px;
		padding: 0.5em 2em;
		vertical-align: middle;
	}
	.tv-btn:hover {
		background-color: #eee;
		color: black;
	}
	.tv-btn .dark {
		background-color: #eee;
		color: #333;
	}
	.tv-btn .dark:hover {
		background-color: #ddd;
		color: black;
	}
/* Subject To Change */
	.group.space-single.header-group-indicators {
		display: none;
	}
	.right {
		position: right;
		margin: auto;
		text-align: center;
		color: #595959;
		background: #09f;
		border: 1px solid #09f;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
		border-radius: 3px;
		color: #ecf0f1;
		text-decoration: none;
		transition: background-color .3s;

	}
	.theme {
		position: right;
		margin: auto;
		text-align: center;
		border-radius: 3px;
		text-decoration: none;
		border: 1px solid #696b76;
		box-shadow: 0 0 10px #000;
		background: #363843;
		color: #fff;
		/*width: 100px;*/
	}
/* NoCharts Mode */
	#nocharts h1 {
		background: #464853;
		padding: 20px 0 22px 0;
		margin: 0;
	}
	#nocharts h1 span {
		font-size: 48px;
		color:#eee;
		background: #262833;
		padding: 8px 22px 12px 22px;
	}
	#nocharts h2 span {
		font-size: 36px;
		color:#eee;
		background: #262833;
		padding: 8px 22px 12px 22px;
	}
	#nocharts h2 {
		color: #bbb;
		font-weight: 500;
		font-size: 36px;
	}
	#nocharts h4 {
		font-size: 16px;
		font-weight: 400;
	}
	#nocharts p {
		font-size: 20px;
		color: rgb(56, 175, 255);
	}
	.divLetsGo {
		height: 0;
		position: relative;
		padding-top: 40px;
		margin: auto;
		width: 260px;
		display: flex;
	}
	.divLetsGo a, .closeBtn {
    font-size: 25px;
    padding: 5px;
    margin: auto;
    margin-top: 32px;
    background: rgba(32, 48, 80, .7);
    border: 1px solid #09f;
    border-radius: 5px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color .3s;
    width: 69px;
}
	#nocharts .hero {
		margin-bottom: 44px;
		border-bottom: 22px dashed #9698a3;
	}
	#nocharts .info {
		width: 70vw;
		margin: 36px auto;
		padding: 2px 18px;
		min-height: 50vh;
		word-spacing: 2px;
		letter-spacing: .8px;
		background: #051016;
		box-shadow: 0 36px 48px -4px #051016;
		border: 8px dotted #102036;
		display: flex;
	}
	#nocharts .info div:first-child {
		color: #dde;
		text-align: left;
		height: auto;
		margin: auto;
		padding: 0 20px;
		width: 50%;
	}
	#nocharts .info div:last-child {
		background: #051016 url('../images/mcc-capture.png') center / contain no-repeat;
		width: 50%;
	}
	#nocharts .cornflower-box {
		width: 80vw;
		background: #6688a8;
		box-shadow: 0 18px 36px 2px #041828;
		border: 8px dotted #7395b5;
		margin: 42px auto;
		text-align: center;
	}
	#divLetsGo a:hover, #divLetsGo a:focus {
		background-color: #06c;
	}
/* Modals */
	/* http://freefrontend.com/css-modal-windows/ */
	/* https://codepen.io/danielgriffiths/pen/AXGOym */
	.btn {
		font-family: Lato, sans-serif;
		background: #09f;
		color: #fff;
		outline: 0;
		text-transform: uppercase;
		cursor: pointer;
		-webkit-transition: 0.3s ease;
		transition: 0.3s ease;
		-webkit-appearance: none;
	}
	.btn:hover {
		background: #fff;
		color: #da513d;
	}
	.modalInfo, .modalConfig, .modalAd {
		opacity: 0;
		visibility: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 8, 0.84);
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		z-index: 999999;
	}
	/* .modalInfo {
		display: block;
		color: #ccccd7;
	}
	.modalInfo h2 {
		letter-spacing: 12px;
		text-align: center;
	}
	.modalInfo h3 {
		background: rgba(16, 24, 40, .7);
	}
	.modalInfo h4 {
		color: #fff;
		width: 40%;
		text-align: center;
		margin: auto;
	}
	.modalInfo > div {
        min-height: 60%;
        width: 80%;
        max-width: 1000px;
        margin: auto;
    }
	.modalInfo div div:last-child {
		text-align: center;
	}
	.modalInfo div div div {
		display: block;
		width: 50%;
		word-break: break-all;
	}
	.modalInfo div div div:first-child {
		display: block;
		height: 100%;
	}
	.modalInfo p {
		color: #ddd;
		box-shadow: 0 0 10px 0px #000;
		background: radial-gradient(circle, rgba(20, 60, 120, .4), rgba(4, 6, 24, .4));
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		border-radius: 2px;
		padding: 16px;
		margin: 16px;
		width: 50%;
		overflow-y: scroll;
		white-space: normal;
		word-break: normal;
		max-height: 300px;
	}
	.modalInfo b {
		color: #fff;
	}
	.modalInfo a {
		color: #06f;
		font-weight: 500;
		text-shadow: 0 0 14px black;
	}
	.modalInfo button {	font: inherit; } */
/* Pairs Setup */
	#pairsInput, .inputLists {
		width: 85%;
		margin-left: 6px;
		border-radius: 3px;
		background: #383838;
		color: #aaa;
		border: 1px solid #ccc;

	}
	div.divPairsSetup {
		position: relative;
		max-width: 420px;
		padding-bottom: 20px;
		vertical-align: top;
	}
	div.divPairsSetup input[type="text"],
	div.divPairsSetup select {
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		transition: all 0.30s ease-in-out;
		outline: none;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		background: #fff;
		margin-bottom: 4%;
		border: 1px solid #ccc;
		padding: 3%;
		color: #555;
		font: 95% Arial, Helvetica, sans-serif;
	}
	div.divPairsSetup input[type="text"]:focus {
		box-shadow: 0 0 5px #43D1AF;
		padding: 3%;
		border: 1px solid #43D1AF;
	}
	div.divPairsSetup input[type="button"], .inputTypeButton {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 3%;
		box-shadow: 0 0 8px -2px #000;
		border-top-style: none;
		border-right-style: none;
		border-left-style: none;
		width: 85%;
		margin-left: 6px;
		border-radius: 3px;
		background: #343434;
		color: #f3f3f3;
	}
	div.divPairsSetup input[type="button"]:hover {
		background: #2EBC99;
	}
	div.divPairsSetup h3 {
		color: #000;
		background: #eee;
		padding: 8px;
		font-weight: 500;
		text-align: center;
		border-bottom: 6px solid #bbb;
		margin: 0 0 18px 0;
	}
	div.divPairsSetup a.inputTypeButton {
		text-align: center;
		font-size: 24px;
		float: right;
		margin: 6px;
		width: 35.5px;
		border-radius: 50%;
		height: 35.5px;
		text-decoration: none;
	}
/* Unorg */
	.inputTypeButton {
		display: block;
		cursor: pointer;
		padding: 4px 8px;
		color: #fff;
		height: 36px;
		font-size: 20px;
		font-weight: 600;
		line-height: 18px;
	}
	.number-label {
		margin-left: 4px;
	}
	.box-size {
		border: 1px solid #696b76;
		width: 26px;
		box-shadow: 0 0 10px #000;
		background: #363843;
		color: #eff;
		margin: 0 2px;
		padding: 2px 0 2px 4px;
	}
	.label {
		display: inline;
		margin-right: 4px;
	}
	.box {
		position: relative;
		box-sizing: border-box;
		height: calc(100% - 40px);
		width: 100%;
		float: left;
	}
	.box-button-container {
		position: absolute;
		bottom: 5px;
		right: 5px;
		z-index: 5;
	}
	.newsletter {
		text-align: center;
		background: rgb(19,23,34);
		height: 100%;
		/* border: 4px solid rgb(227,232,247); */
		border: 4px solid rgb(33,37,52);
		overflow-y: auto;
	}
	.tvRed { color: rgb(233,83,83); }
	.tvGreen { color: rgb(46,165,154); }
	.black-serif { font-family: 'Times New Roman', Times, serif; }
	.ad{
		margin-left: 25px;
		border: 5px;
		box-shadow: 0 0 10px #000;
		text-align: center;
		border-radius: 3px;
		text-decoration: none;
		padding-left: 9px;
		padding-right: 9px;
	font-family: Lato, sans-serif;
	background: #09fc;
	color: #fff;
	}
.ad:hover{

		background: #fff;
		color: #da513d;
	
}
