.box {
    position: relative;
}


.button {
    display: block;
    cursor: default;
    padding: 7px 12px;
    border: 1px solid #dadde0;
    background: #fff;
    height: 14px;
    color: #555;
    font-size: 11px;
    font-weight: 600;
}

.button.toggled {
    border: 3px solid #3bb3e4;
}