/* Setup */
  body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: slategray;
  }

  a {
    color: inherit;
  }


  #open-modal, #top-nav {
    background-color: #262833;
  }

/* TopNav */
  .topnav {
    padding: 5px;
  }

  .topnav a {
    font-size: 16px;
  }

  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  .label {
    display: inline;
    margin-right: 4px;
  }

  .box {
    box-sizing: border-box;
    height: calc(100% - 40px);
    width: 100%;
    float: left;
  }

  .fullscreen {
    position: absolute;
    height: calc(100% - 36px) !important;
    width: 100% !important;
    z-index: 10;
  }

  .box-button-container {
    position: absolute;
    height: 30px;
    top: 0px;
    right: 40px;
    z-index: 5;
  }

  .button-fullscreen {
    background: #fff;
    border: 1px solid #dadde0;
    color: #555;
    cursor: default;
    display: block;
    font-size: 16px;
    font-weight: 600;
    height: 15px;
    line-height: 0;
    margin-right: 2px;
    margin-top: 5px;
    text-align:center;
    padding: 7px;
    width: 20px;
  }

  .button.toggled {
    border: 3px solid #3bb3e4;
  }

  .super-small-icon {
    font-size: 12px;
  }

  .number-label {
    margin-right: 4px;
  }

  .box-size {
    width: 2em;
  }

  .right {
    float: right;
  }

  #open-modal.dark, body.dark {
    background-color: #333;
  }

  .tv-btn {
    margin-left: 8px;
    padding: 0.5em 2em;
    vertical-align: middle;
  }

  .tv-btn:hover {
    background-color: #eee;
    color: black;
  }

  .tv-btn .dark {
    background-color: #eee;
    color: #333;
  }

  .tv-btn .dark:hover {
    background-color: #ddd;
    color: black;
  }

  .group.space-single.header-group-indicators {
    display: none;
  }

/* Modals */
  .modal-window {
    position: fixed;
    background-color: #333;/*rgba(255, 255, 255, 0.15);*/
    /* min-height: 40vh; */
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-x: scroll;
    /* max-width: 100vw !important; */
    z-index: 999999;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window>div {
    max-width: 80vw;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    /* background: #fff; */
    color: #777;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 26px;
    margin: 0;
  }
  .modal-window h6 {
    font-size: 14px;
    word-break: break-all;
    margin: 0 0 4px 0;
  }

  .modal-close {
    color:white; !important;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: #aaa;
  }
  



#inner1 {
  height: 100%;
}

#inner2 {
  height: 100%;
}

#inner3 {
  height: 100%;
}

#inner4 {
  height: 100%;
}