/* Setup */
  body, html {
      padding: 0;
      margin: 0;
      height: 100%;
	  overflow: hidden;
  }

  .box {
      box-sizing: border-box;
      float: left;
      width: 50%;
      height: calc(50% - 18px);
  }
  .box1 {
      /* box-sizing: border-box;
      float: left;
      width: 50%;
      height: calc(100% - 92px); */
  }
  body {margin:0;}

/* TopNav */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a {
    float: left;
    display: block;
    /* color: #f2f2f2; */
    text-align: center;
    padding: 1px 40px;
    text-decoration: none;
    font-size: 14px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;

    }
  }

/* Modals */
  body {
    font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    /* padding: 2rem; */
    /* background-color: #5A7A9B; */
    /* color: #5A7A9B */
  }

  a {
    color: inherit;
  }

  .container {
    display: table;
    width: 100vw;
    height: 100%;
  }

  .interior {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .interior a {
    margin: 12px 8px 6px 8px;
  }

  .btn {
    background-color: #fff;
    color: #000 !important;
    padding: 1em 3em;
    border-radius: 3px;
    text-decoration: none;
  }

  .modal-window {
    position: fixed;
    background-color: #333;/*rgba(255, 255, 255, 0.15);*/
    /* min-height: 40vh; */
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-x: scroll;
    /* max-width: 100vw !important; */
    z-index: 999999;
    opacity: 0;
    pointer-events: none;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .modal-window:target {
    opacity: 1;
    pointer-events: auto;
  }
  .modal-window>div {
    max-width: 80vw;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    /* background: #fff; */
    color: #777;
  }
  .modal-window header {
    font-weight: bold;
  }
  .modal-window h1 {
    font-size: 26px;
    margin: 0;
  }
  .modal-window h6 {
    font-size: 14px;
    word-break: break-all;
    margin: 0 0 4px 0;
  }

  .modal-close {
    color:white; !important;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
  }
  .modal-close:hover {
    color: #aaa;
  }
  



#inner1 {
  height: 100%;
}

#inner2 {
  height: 100%;
}

#inner3 {
  height: 100%;
}

#inner4 {
  height: 100%;
}