.box {
    position: relative;
}
.top-button-container {
    position: absolute;
    top: 85px;
    right: 1px;
    z-index: 10000;
}
.button {
    display: block;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #dadde0;
    height: 14px;
    color: #555;
    font-size: 15px;
    font-weight: 600;
    width: 45px;
    cursor: pointer;
}

.button.toggled {
    color: #3bb3e4;
    background: #fff;
}
